@model Models.ClientViewModel
@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron row">
    <div class="col-md-4">
        <div>@Html.ActionLink("Create Client", "CreateClient", "Client")</div>
    </div>
    <div class="col-md-8">
        <img src="/Images/auto.jpg" width="500" height="200" />
    </div>
</div>

<div class="row">
    <form action="/Home" method="get">
        @Html.EditorFor(x => x.Search, new { htmlAttributes = new { placeholder = "Enter Last Name" } })
        <input type="submit" value="Search">
    </form>
</div>

<div class="row margin-top-10">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>№</th>
            <th>First name</th>
            <th>Last Name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Clients.Count; i++)
        {
            var item = Model.Clients[i];
            var displayIndex = i + 1;
            <tr>
                <td>
                    <img src="@item.Photo" height="50" width="50" />
                </td>

                <td>
                    @displayIndex
                </td>

                <td>
                    @item.FirstName
                </td>

                <td>
                    @item.LastName
                </td>

                <td>
                    <a href="/Client/CreateClient/@item.Id">Edit</a>
                </td>

                <td>
                    <a href="Client/DeleteClient/@item.Id">Delete</a>
                </td>
                
                <td>
                    <a href="Client/Details/@item.Id">Details</a>
                
                </td>
                <td>
                    <a href="Client/AutoClient/@item.Id">The list of cars</a>
                </td>
            </tr>
        }
    </table>
</div>
